<!-- <app-navi
  (newItemEvent)="createVisible = $event"
  *ngIf="createVisible == false"
></app-navi>
<app-about *ngIf="createVisible == false"></app-about>
<app-experience *ngIf="createVisible == false"></app-experience>
<app-education *ngIf="createVisible == false"></app-education>
<app-skills *ngIf="createVisible == false"></app-skills>
<app-interests *ngIf="createVisible == false"></app-interests>
<app-awards *ngIf="createVisible == false"></app-awards>
<router-outlet *ngIf="createVisible == true"></router-outlet> -->

<router-outlet></router-outlet>
