<div
  class="page-top w-100 p-3 text-right bg-white fixed-top d-flex justify-content-between align-items-center"
>
  <div class="d-flex align-items-center">
    <div><img src="assets/img/dot.png" alt="" /></div>
    <div class="px-3" style="font-size: 1.2rem; color: #ffca2c">
      <i class="fa-solid fa-display"></i>
    </div>
    <div class="border" style="height: 2rem"></div>
    <div class="px-3" style="font-size: 1.2rem; color: #ccc">
      <i class="fa-solid fa-mobile-screen"></i>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <span class="text px-3">
      Click here to start building your own awesome portfolio.
    </span>
    <button class="btn btn-warning" (click)="createSubmit()">
      Create your portfolio
    </button>
  </div>
</div>
