<!-- Experience-->
<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div
      *ngFor="let item of experience"
      class="d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="flex-grow-1">
        <h3 class="mb-0">{{ item.position }}</h3>
        <div class="subheading mb-3">{{ item.location }}</div>
        <p>{{ item.description }}</p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary"
          >{{ item.startDate }} - {{ item.finishDate }}</span
        >
      </div>
    </div>
  </div>
</section>
<hr class="m-0" />
